@charset "UTF-8";

@font-face {
    font-family: 'og' ;
    src: url(fontes/Already\ Broken\ Dull\ Demo\ Version.otf);

}

@font-face {
    font-family: 'mid';
    src: url(fontes/THE\ BOLD\ FONT\ -\ FREE\ VERSION\ -\ 2023.ttf);
}

@font-face {
    font-family: 'teste';
    src: url(fontes/Vanilla\ Whale.otf);
}

:root{
    --corsigma: #960404;
}

*{
    margin: 0px;
    padding: 0px;
    
 }

 body{
    background-color: #5f0202;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



header{
    font-family: 'mid';
    font-weight: bolder;
    background-color: black;
    color: var(--corsigma);
    margin: auto;
    text-align: center;
    padding: 4px;
   
    
}

header>h1{
    font-family: 'og';
    font-weight: lighter;
    font-size: 4em;
    padding-top: 13px;
    margin-top: 46px;


}

header>p{
    font-size: 0.8em;
    padding: 5px 20px 53px 10px;
    color: white;
    
}

header>nav{
    text-align: center;
    background-color: #000000b2;
    padding: 1px 10px;
    
}

nav>a{
    font-family: Arial, Helvetica, sans-serif;
    margin: 120px;
    padding: 6px;
    border-radius: 3px;
    text-decoration: none;
    color: var(--corsigma);
   
}

nav>a:hover{
    color: rgb(255, 255, 255);
    background-color: var(--corsigma);
    transition-duration: 1s;
}

main{
    background-color: white;
    margin: auto;
    text-align: justify;
    max-width: 1044px ;
    min-width: 300px ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.644);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 37px;
    padding: 19px;
}

article>h1#h1n1{
    font-size: 3em;
    margin-bottom: 60px;
    font-weight: lighter;
    text-align: center;
    font-family: 'teste';
    color: black;

}

article>h1#h1n2{
    font-variant: small-caps;
}

footer{
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
    margin-top: 32px;
    padding: 5px;
}

footer>a{
    text-decoration: none;
    color: var(--corsigma);
    font-weight: bolder;
}

footer>a:hover{
    color: yellow;
    text-decoration: underline;
}