@charset "UTF-8";

@font-face {
    font-family: 'og' ;
    src: url(fontes/Already\ Broken\ Dull\ Demo\ Version.otf);

}

@font-face {
    font-family: 'mid';
    src: url(fontes/THE\ BOLD\ FONT\ -\ FREE\ VERSION\ -\ 2023.ttf);
}

@font-face {
    font-family: 'teste';
    src: url(fontes/CFAnarchy-Regular.ttf);
}

@font-face {
    font-family: 'teste2';
    src: url(fontes/DIEDIEDI.TTF);
}

@font-face {
    font-family: 'teste3';
    src: url(fontes/Bakemono-Stereo-Extrabold-trial.ttf);
}
:root{
    --corsigma: #960404;
}

*{
    margin: 0px;
    padding: 0px;
    
 }

 body{
    background-color: #5f0202;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

strong{
    color: #a3a32f;
}

header{
    font-family: 'mid';
    font-weight: bolder;
    background-color: black;
    color: var(--corsigma);
    margin: auto;
    text-align: center;
    padding: 4px;
   
    
}

header>h1{
    font-family: 'teste2';
    font-weight: lighter;
    font-size: 4.5em;
    padding-top: 13px;
    margin-top: 28px;
    margin-bottom: 0px;


}

header>p{
    font-size: 0.8em;
    padding: 5px 20px 60px 10px;
    color: white;
    
}

header>nav{
    text-align: center;
    background-color: #000000b2;
    padding: 1px 10px;
    
}

nav>a{
    font-family: Arial, Helvetica, sans-serif;
    margin: 120px;
    padding: 6px;
    border-radius: 3px;
    text-decoration: none;
    color: var(--corsigma);
   
}

nav>a:hover{
    color: rgb(255, 255, 255);
    background-color: var(--corsigma);
    transition-duration: 1s;
}

main{
    background-color: white;
    margin: auto;
    text-align: justify;
    max-width: 1296px ;
    min-width: 300px ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.644);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 99px;
    padding: 19px;
}

main a {
    color: #640404;
    background-color: #d83939b6;
    text-decoration: none;
    font-weight: bold;
    padding: 1px 2px;
    font-size: 14px;
}
main a.linkimagem { 
    background-color: #ffffff;
}

main a:hover{
    text-decoration: underline;
    color: #bbb012;
}


a.external::after{
content: '\00A0\1F517'
}

article>h1{
    font-family: 'teste3';
    font-size: 1.8em;
    margin: 19px 13px 16px 13px;
    color: #460101;
}

article>h1#h1n1{
    font-size: 4.5em;
    margin-bottom: 60px;
    font-weight: lighter;
    text-align: center;
    font-family: 'teste';
    color: rgb(0, 0, 0);
    background-image: none;

}

article>h1#h1n2{
    font-variant: small-caps;
    font-size: 1.5em;
}

article>p{
    text-indent: 30px;
    line-height: 1.7em;
    font-size: 1em;
    margin: 15px 0px;
}
article>iframe{
    border: 2.5px solid black;
    margin-left: 96px;
    margin-top: 15px;
    margin-bottom: 15px;
}
footer{
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
    margin-top: 32px;
    padding: 5px;
}

footer>a{
    text-decoration: none;
    color: var(--corsigma);
    font-weight: bolder;
}

footer>a:hover{
    color: rgb(247, 204, 14);
    text-decoration: underline;
}