@charset "UTF-8";

@font-face {
    font-family: 'og' ;
    src: url(fontes/Road_Rage.otf);

}

@font-face {
    font-family: 'mid';
    src: url(fontes/THE\ BOLD\ FONT\ -\ FREE\ VERSION\ -\ 2023.ttf);
}

@font-face {
    font-family: 'teste';
    src: url(fontes/Inlanders\ Demo.otf);
}

@font-face {
    font-family: 'teste2';
    src: url(fontes/DIEDIEDI.TTF);
}

@font-face {
    font-family: 'teste3';
    src: url(fontes/Bakemono-Stereo-Extrabold-trial.ttf);
}

@font-face {
    font-family: 'principal';
    src: url(fontes/Century\ Gothic.ttf);
}
:root{
    --corsigma: #960404;
}


*{
    margin: 0px;
    padding: 0px;
    
 }

 body{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background-image: url(imagens/fundo.jpeg);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html{
    width:100vw;
    height: 100vh;
}

strong{
    color: #a3a32f;
}


header{
    font-family: 'mid';
    font-weight: bolder;
    background-color: black;
    color: var(--corsigma);
    margin: auto;
    text-align: center;
    width: 100vw;
    padding: 4px 0px;
   
    
}

header>h1{
    font-family: 'teste2';
    font-weight: lighter;
    font-size: 4.5em;
    padding-top: 13px;
    margin-top: 28px;
    margin-bottom: 0px;


}

header>p{
    font-size: 0.8em;
    padding: 5px 20px 60px 10px;
    color: white;
    
}

header>nav{
    position: relative;
    background-color: #000000b2;
    padding: 2px 0px;
    height: 71px;
    text-align: center ;
    
}

nav>a{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
    text-decoration: none;
    color: var(--corsigma);
    margin: 127px;
    width: 100%;
   
}

nav>a:hover{
    color: rgb(255, 255, 255);
    background-color: var(--corsigma);
    transition-duration: 1s;
}

main{
    background-color: white;
    margin: auto;
    text-align: justify;
    max-width: 80vw ;
    min-width: 300px ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.644);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 146px;
    padding: 19px;
}

main img{
  width: 100%;
}

main a {
    color: #640404;
    background-color: #ad121261;
    text-decoration: none;
    font-weight: bolder;
    padding: 1px 2px;
    font-size: 19px;
}
main a.linkimagem { 
    background-color: #ffffff;
}

main a:hover{
    text-decoration: underline;
    color: rgba(255, 241, 50, 0.664);
}


a.external::after{
content: '\00A0\1F517'
}

main a.ima{
    background-color: #a3a32f00;
}

div#n1{
    text-align: center;
    position: relative;
}

header>nav>div{
    
    position: relative;
}

nav>img{
    
    display: block;
    margin: auto;
    width: 108px;
    
    
}
    

div>h1#h1n1{
    
    display: inline-block;
    margin-bottom: 112px;
    margin-top: 40px;
    font-size: 6em;
    font-weight: lighter;
    font-family: 'og';
    text-indent: 0px;
    color: rgb(0, 0, 0);
    background-image: none;
    

}

div#dov{
    position: relative;
    background-color: #5f020200;
    margin: 0px 6px 36px -124px;
    padding-bottom: 26%;
}




article>h1{
    font-variant: small-caps;
    font-size: 1.8em;
    font-family: 'teste';
    text-indent: 17px;
    margin: 12px 10px 10px 10px;
    color: #5f0202;
    background-image: linear-gradient(to right, #b76b6b40, white);;
    
}

article>p{
    text-indent: 30px;
    line-height: 1.7em;
    font-size: 1.5em;
    font-family: 'principal';
    margin: 15px 0px;
    padding: 15px;
}
article>div>iframe#free{

    position: absolute;
    top: 2%;
    left: 53%;
    width: 34%;
    height: 78%;
    background-color: #5f0202;
    border: 2.5px solid #a3a32f;
    margin-right: 71px;
    margin-left: 72px;
    margin-top: 15px;
    margin-bottom: 40px;
}

article>div>iframe#lon{

    position: absolute;
    top: 2%;
    left: 9%;
    width: 34%;
    height: 78%;
    background-color: #410505f2;
    border: 2.5px solid #a3a32f;
    margin-right: 71px;
    margin-left: 72px;
    margin-top: 15px;
    margin-bottom: 40px;
}


article>picture>a.ima>img{
    background-color: #5f0202;
}

article>a.ima>img{
    width: 255px;
    margin: 17px 31px 9px 13px;
    border: 3px solid #a3a32f;
    border-radius: 305px;
    

}


footer{
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
    margin-top: 56px;
    padding: 5px;
}

footer>a{
    text-decoration: none;
    color: var(--corsigma);
    font-weight: bolder;
}

footer>a:hover{
    color: rgb(247, 204, 14);
    text-decoration: underline;
}


